*{
    font-family: 'Montserrat', sans-serif;
}

form{
    margin-top: 3rem;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.5rem;
}

.form-container{
        background-color:  black;
        width: auto;
        height: auto;
        padding: 20px;
        margin: 40px;
        border-radius: 30px;
        text-align: center;
}

.form-border{
    border-radius: 1px solid rgb(107, 31, 43);
}

.texto-form{
    color: aliceblue;
}

/* Animación  */
.animacion-email{
    animation-name: animacion-email;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}




