* {
    font-family: 'Montserrat', sans-serif;
}

:root{
    --color-rosa:#B4016C;
}

/* .col{
    border: 1px solid red;
} */

/* Estandarizar valores rem */

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}


p {
    font-size: 1.5rem;
}

/* div{
    border: 1px solid red ;
} */

/* ======= navBar ======= */
.navbar {
    background-color: black;
    padding: 0px 0px 0px 0px;
}

header{
    background-color: black;
    padding: 0px 0px 0px 0px;
}

#navbarNav {
    padding-top: 3rem;
    padding-left: 4px;
}

.navtext {
    font-size: 1.5rem;
    margin-right: 3rem;
    padding-bottom: 1rem;
}

.nav-link:hover{
    border-bottom: 1px solid var(--color-rosa);
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}


h1 {
    font-family: 'Handlee', cursive;
    font-size: 4rem;
}

.desarrolladora {
    font-family: 'Handlee', cursive;
    font-size: 3.5rem;
    font-style: normal;
}


.miNombre {
    font-size: 2.5rem;
}

.desarrolladora,
.miNombre {
    padding-top: 1.5rem;
    padding-left: 1rem;
}



.miDescripcion{
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

p {
    text-align: justify;
}

span{
    color: azure;
    font-size: 1.6rem;
}

/* ------ ICONOS ----- */

.bi-geo-fill{
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.bi-linkedin {
    margin-left: 1rem;
    margin-right: 3rem;
}

.bi-linkedin:hover {
    color: #6ac3f3;
}

.bi-github{
    margin-right: 3rem;
}

.bi {
    color: azure;
}

.bi-github:hover {
    color: #C8A7E7;
}

.bi-envelope-fill:hover {
    color: #F4BD46;
}

.iconos{
    margin-bottom: 3rem;
}

/* ------ BOTON CV ------ */
.button {
    /* tamaño transicion*/
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 30px;
    --tooltip-color: #fff;
    width: 10rem;
    height: 3.5rem;
    background-color:var(--color-rosa);
    position:relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Montserrat";
    font-size: 1.3rem;
    margin-left: 3rem;
}

.button::after { 
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    
}

.button::after,
.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.text {
    padding-top: 0.8rem;
    align-items: center;
    justify-content: center;
}

.button-wrapper,
.text,
.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0
}

.text,
.icon {
    transition: top 0.5s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.button:hover {
    background: #f4a21d;
}

.btnFooter{
    margin-left: 46%;
    margin-bottom: 1rem;
}

/* transición entre el texto y el icono */
.button:hover .text {
    top: -100%;
}

.button:hover .icon {
    top: 0;
}

/*  ===== IMAGEN PRESENTACIÓN ======= */
img {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* carrusel */
.frases {
    padding: 2rem;
}

/* Footer */
footer {
    background-color: black;
    padding: 0px 0px 0px 0px;
}

.pFooter {
    padding: 1rem;
}